body {
    color: rgb(228, 224, 224);
    background-color: rgb(24, 24, 24);
    padding-top: 5px;
    padding-bottom: 0px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Навігація */
nav {
    margin: 10px 10px;
    padding: 20px 10px;
    text-align: right;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}


nav, .nav {
    background-color: rgb(85, 85, 85);
    text-decoration: none;
    user-select: none;
}

.nav {
    padding: 9px 10px;
}

.nav:hover {
    background-color: rgb(68, 68, 68);
}

.nav:active {
    background-color: rgb(37, 37, 37);
}

/* Випадающе меню */

/* Блоки */
.name-section {
    text-align: center;
}

.content-block {
    background-color: rgb(59, 59, 59);
    padding: 10px;
    margin: 20px 10px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    user-select: none;
}

.block-content-blocks {
    background-color: rgb(44, 44, 44);
    padding: 5px;
    margin: 20px 10px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    user-select: none;
}

/* Зарплата */

.salary {
    text-align: center;
}

.junior {
    margin: 20px 4px;
    padding: 60px 40px;
    display: inline-block;
}

.middle {
    margin: 20px 4px;
    padding: 60px 40px;
    display: inline-block;
}

.senior {
    margin: 20px 4px;
    padding: 60px 40px;
    display: inline-block;
}

/* Посилання */
a {
    color:rgb(148, 148, 148);
    text-decoration: none;
    user-select: none;
}

a:hover { color: rgb(204, 204, 204); }
a:active { color:rgb(134, 134, 134) }

.h1 { 
    color:rgb(218, 43, 20);
    font-size: 36px; 
}

.h1:hover { color: rgb(255, 30, 0); } 
.h1:active { color: rgb(152,15,0); } 

/* Кнопка "Назад" */
a.back-button {
    display: inline;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: rgb(209, 41, 19); 
    padding: 0.7em 1.5em; 
    outline: none;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

a.back-button:hover { background: rgb(241, 43, 17); }
a.back-button:active { background: rgb(152,15,0); }

.p-button {
    margin-bottom: 20px;
}

.page-footer {
    padding: 20px;
    text-align: right;
    background-color: rgb(27, 27, 27);
}